In [ ]:
import numpy as np
import pandas as pd

DATA FRAMES

SUBSET OF DATASET - PRICE OF CARS

In [ ]:
data = [
    {
        "Make": "Nissan",
        "Model": "Stanza",
        "Year": 1991,
        "Engine HP": 138.0,
        "Engine Cylinders": 4,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "sedan",
        "MSRP": 2000
    },
    {
        "Make": "Hyundai",
        "Model": "Sonata",
        "Year": 2017,
        "Engine HP": None,
        "Engine Cylinders": 4,
        "Transmission Type": "AUTOMATIC",
        "Vehicle_Style": "Sedan",
        "MSRP": 27150
    },
    {
        "Make": "Lotus",
        "Model": "Elise",
        "Year": 2010,
        "Engine HP": 218.0,
        "Engine Cylinders": 4,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "convertible",
        "MSRP": 54990
    },
    {
        "Make": "GMC",
        "Model": "Acadia",
        "Year": 2017,
        "Engine HP": 194.0,
        "Engine Cylinders": 4,
        "Transmission Type": "AUTOMATIC",
        "Vehicle_Style": "4dr SUV",
        "MSRP": 34450
    },
    {
        "Make": "Nissan",
        "Model": "Frontier",
        "Year": 2017,
        "Engine HP": 261.0,
        "Engine Cylinders": 6,
        "Transmission Type": "MANUAL",
        "Vehicle_Style": "Pickup",
        "MSRP": 32340
    }
]

In [ ]:
pd.DataFrame(data) #USE NAME OF COLUMNS FROM THE DICTIONARY

In [ ]:
df= pd.DataFrame(data)
df.head(n=1)

In [ ]:
df['id'] = [1,2,3,4,5]
display(df) # Use display to print

In [ ]:
# delete DEL

# del df['id']

In [ ]:
df.index

In [ ]:

df.Make.index

In [ ]:
df.loc[1]

In [ ]:
df.index =['a','b','c','d','e']

df.loc[['b','c']]

iloc

In [ ]:
df.iloc[1]

In [ ]:
df = df.reset_index(drop=TRUE) #overwrite old data frame

ELEMENT WISE OPERATIONS

In [ ]:
df['Engine HP']/100 

# NaN , we don't know

SyntaxError: invalid syntax (Temp/ipykernel_6560/2550154276.py, line 1)

In [ ]:
df['Year'] >= 2015


df[ # returns only true values (after 2015)
    df['Make'] =="BMW" #returns a binary series 
]

In [ ]:

df[ # returns only true values (after 2015)
    df['Make'].str.match('C$') #returns a binary series 
]

String Operations

In [ ]:
df['Vehicle_Style']

# apply lower case 

df['Vehicle_Style'].str.lower()

In [ ]:
'machine learning zoomcamp'.replace(' ','_')

df['Vehicle_Style'].str.replace(' ', '_').str.lower() # returns new series

In [ ]:
df['Vehicle_Style'] = df['Vehicle_Style'].str.replace(' ', '_').str.lower()

display(df)

SUMMARAZING OPERATORS

In [ ]:
df.MSRP.describe() # STATISTICAL VALUES

df.describe().round(2)

df.nunique()

In [ ]:
df.nunique() # UNIQUE VALUES

In [ ]:
df.isnull().sum() # HOW MANY NULLS ?

GROUPING

In [ ]:

# SELECT
#     tranmission_type,
#     AVG(MSRP)
# FROM 
#     cars
# GROUP BY
#     transmission_type

df.groupby('Transmission Type').MSRP.min();

df.MSRP.values;

In [ ]:
display(df.MSRP.values);

In [ ]:
df.to_dict(orient='records')

In [ ]:
df[ # returns only true values (after 2015)
    df['Model'] == 'BMW'  #returns a binary series 
]